{% include 'register.html' %}
{% block content %}
<style media="screen">
    input[type=text], select,input[type=number] ,input[type=password], textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display:inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }
  button[type=submit] {
    width: 100%;
    height:45px;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .box{
 width: 600px;
 height:1050px;
 padding: 40px;
 position: absolute;
 top: 50%;
 left: 70%;
 background: linear-gradient(to right, #e48297, #7898d3);
 text-align: center;
 transition: 0.25s;
 margin-top: 100px;
 padding-bottom: 20px;
 border-radius: 10px;
 
}
body{
    background: linear-gradient(to right, #d5d9e2, #aa9c5d);
}
.box button[type="submit"]:hover {
        background: #58b821
    }
</style>
<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <form action="{% url 'ser-reg' %}" method="POST" class="box">
            <div class="form-group">
            {% csrf_token %}
            <h2 class="form-signin-heading">Administrator Registration:</h2> <br>
            {{ser_info_form.as_p}}
            {{ser_form.as_p}}
           
            <button type="submit" class="btn btn-success">Register</button>
            </div>
        </form>
    </div>
</div>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br>
{% include "footer.html" %}
{% endblock %}