
{% load static %}

<!-- *Content Start -->
{% block content %}
<!-- !Links -->
<!-- * css link -->
<link rel="stylesheet" href="{% static 'eStore/styles/index.css' %}" />

<!-- Box icons -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
/>
<!-- GSAP -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js "></script>
<!-- Custom Script -->
<script src='{% static "eStore/js/index.js" %}'></script>
<!-- !Links -->
<style>
nav{
  padding: auto;
  
  height: 90px;
}
.navbar{
  background-color: rgb(20, 17, 20);
}
.nav-item{
  color: rgb(205, 205, 218);
  display: inline;
}
.navbar-brand{
  color: rgb(206, 191, 191);
  display: inline;
}
</style>
<!-- Header -->
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="{% url 'home' %}" style="font-weight: bold;">Petrol Pump</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link " href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#"></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cust-reg' %}">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cust-log' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#"></a>
      </li>
    </ul>
  </div>
</nav>
<header id="home" class="header">
  <!-- Hero -->
  <img
    src="{% static 'eStore/images/pic.6.jpg (1).png' %}"
    alt=""
    class="hero-img"
  />

  <div class="hero-content">
    <h1>
      <span>Vehicle Parts</span>
      <span>Available Here</span>
    </h1>
    <a class="btn" href="{% url 'eStore-cart' %}">Shop now</a>
  </div>
</header>

<!-- Main -->
<main>
  <section class="advert section">
    <div class="advert-center container">
      <div class="advert-box">
        <div class="dotted">
          <div class="content">
            <h2>
              Car <br />
              Parts
            </h2>
            <h4></h4>
          </div>
        </div>
        <img src="{% static 'eStore/images/parts.png' %}" alt="" />
      </div>

      <div class="advert-box">
        <div class="dotted">
          <div class="content">
            <h2>
              Motorcycle <br />
              Parts
            </h2>
            <h4></h4>
          </div>
        </div>
        <img src="{% static 'eStore/images/parts2.png' %}" alt="" />
      </div>

      <div class="advert-box">
        <div class="dotted">
          <div class="content">
            <h2>
              Truck <br />
              Parts
            </h2>
            <h4></h4>
          </div>
        </div>
        <img src="{% static 'eStore/images/car 2.png' %}" alt="" />
      </div>



      
    </div>
  </section>

  <!-- Featured -->
  <section class="section featured">
    <div class="title">
      <h1>Featured Products</h1>
    </div>

    <div class="product-center container">
      <div class="product">
        <div class="product-header">
          <img
            src="{% static 'eStore/images/car steering wheel.jpg' %}"
            alt=""
          />
          <ul class="icons">
            <span><i class="bx bx-heart"></i></span>
            <span><i class="bx bx-shopping-bag"></i></span>
            <span><i class="bx bx-search"></i></span>
          </ul>
        </div>
        <div class="product-footer">
          <a href="{% url 'eStore-cart' %}">
            <h3>Car Steering Wheel</h3>
          </a>
          <div class="rating">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bx-star"></i>
          </div>
          <h4 class="price">8000 ₹</h4>
        </div>
      </div>
      <div class="product">
        <div class="product-header">
          <img src="{% static 'eStore/images/car tire.jpg' %}" alt="" />
          <ul class="icons">
            <span><i class="bx bx-heart"></i></span>
            <span><i class="bx bx-shopping-bag"></i></span>
            <span><i class="bx bx-search"></i></span>
          </ul>
        </div>
        <div class="product-footer">
          <a href="{% url 'eStore-cart' %}">
            <h3>Car Tire</h3>
          </a>
          <div class="rating">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bx-star"></i>
          </div>
          <h4 class="price">6300 ₹</h4>
        </div>
      </div>
      <div class="product">
        <div class="product-header">
          <img src="{% static 'eStore/images/car battery.jpeg' %}" alt="" />
          <ul class="icons">
            <span><i class="bx bx-heart"></i></span>
            <span><i class="bx bx-shopping-bag"></i></span>
            <span><i class="bx bx-search"></i></span>
          </ul>
        </div>
        <div class="product-footer">
          <a href="{% url 'eStore-cart' %}">
            <h3>Car Battery</h3>
          </a>
          <div class="rating">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bx-star"></i>
          </div>
          <h4 class="price">9800 ₹</h4>
        </div>
      </div>
      <div class="product">
        <div class="product-header">
          <img src="{% static 'eStore/images/windsheild.jpg' %}" alt="" />

          <ul class="icons">
            <span><i class="bx bx-heart"></i></span>
            <span><i class="bx bx-shopping-bag" ></i></span>
            <span><i class="bx bx-search"></i></span>
          </ul>
        </div>
        <div class="product-footer">
          <a href="{% url 'eStore-cart' %}">
            <h3>Car Windsheild Glass</h3>
          </a>
          <div class="rating">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bx-star"></i>
          </div>
          <h4 class="price">2500 ₹</h4>
        </div>
      </div>
    </div>
  </section>
<!---->
<section class="section">
  <div class="product-banner">
    <div class="left">
      <img src="{% static 'eStore/images/oil2.png' %}" alt="" />
    </div>
    <div class="right">
      <div class="content">
        <h1>
          <span>Make your Vehicles </span>
          <span>Better than others</span>
        </h1>
        <a class="btn" href="#">shop now</a>
      </div>
    </div>
  </div>
</section>




  <!--Latest -->
  <section class="section featured">
    <div class="title">
      <h1>Latest Products</h1>
    </div>

    <div class="product-center container">
      {% for item in items %}
      <div class="product">
        <div class="product-header">
          <img src="{{ item.imageURL }}" alt="" />

          <ul class="icons">
            <span><i class="bx bx-heart"></i></span>
            <span><i class="bx bx-shopping-bag"></i></span>
            <span><i class="bx bx-search"></i></span>
          </ul>
        </div>
        <div class="product-footer">
          <a href="{% url 'eStore-cart' %}">
            <h3>{{ item.name }}</h3>
          </a>
          <div class="rating">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
          </div>
          <h4 class="price">
            ₹ {% if item.discount_price %} {{ item.discount_price|floatformat:2}} 
            {% else %} {{ item.price|floatformat:2 }} {% endif %}
          </h4>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <!-- Product Banner -->
  <section class="section">
    <div class="product-banner">
      <div class="left">
        <img src="{% static 'eStore/images/images.jpg' %}" alt="" />
      </div>
      <div class="right">
        <div class="content">
          <h1>
            <span>Collect All Your </span>
            <span>Vehicle Parts Collection Here</span>
          </h1>
          <a class="btn" href="{% url 'eStore-cart' %}">shop now</a>
        </div>
      </div>
    </div>
  </section>
<!---->



  <!-- Testimonials -->
  <section class="section">
    <div class="testimonial-center container">
      <div class="testimonial">
        <span>&ldquo;</span>
        <p>Quality is good. Getting nice mileage to my car.</p>
        <div class="rating">
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
        </div>
        <div class="img-cover">
          <img src="{% static 'eStore/images/sujith.jpeg' %}" alt="" />
        </div>
        <h4>Sujith Bakthan</h4>
      </div>
      <div class="testimonial">
        <span>&ldquo;</span>
        <p>
          The customer service here is exceptional and very helpful. You can
          purchase almost all car parts from here.
        </p>
        <div class="rating">
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bx-star"></i>
        </div>
        <div class="img-cover">
          <img src="{% static 'eStore/images/sanju.jpg' %}" alt="" />
        </div>
        <h4>Sanju Samson</h4>
      </div>
      <div class="testimonial">
        <span>&ldquo;</span>
        <p>Great Service and Fuel was a Good Price too.</p>
        <div class="rating">
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bx-star"></i>
        </div>
        <div class="img-cover">
          <img src="{% static 'eStore/images/ahana.jpg' %}" alt="" />
        </div>
        <h4>Ahana Krishnakumar</h4>
      </div>
    </div>
  </section>
</main>


{% endblock content %}
<!-- *Brands End -->

